#menu-header
#menu-body
  #dialog
  #calendar-container
    #calendar

=link_to 'hello', 'javascript:void(0)', class: 'test-link'

:javascript
  jQuery(
    function() {
     jQuery("#dialog")
      .dialog(
       {
        bgiframe: true,
        autoOpen: false,
        height: 600,
        width: 400,
        modal: true
       }
      );
     jQuery('body')
      .bind(
       'click',
       function(e){
        if(
         jQuery('#dialog').dialog('isOpen')
         && !jQuery(e.target).is('.ui-dialog, a')
         && !jQuery(e.target).closest('.ui-dialog').length
        ){
         jQuery('#dialog').dialog('close');
        }
       }
      );
    }
  );

  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      events: #{@menu_data},
      eventRender: function(event, element) {
        var new_description = '<div class="event-date" data-event_date="' + event.start._i + '" data-menu_id="' + event.id + '"></div>';
        element.append(new_description);
      },
      dayClick: function(date, jsEvent, view) {
        var currentMenu = $('.event-date[data-event_date="' + date.format() + '"]')
        if( currentMenu.length === 1 ){
          var menuId = $(currentMenu).data('menu_id')
          setTimeout( function(){
            $('#dialog').load('/menus/' + menuId + '/edit').dialog('open')
          }, 500)
        } else {
          setTimeout( function(){
            $('#dialog').load('/menus/new').dialog('open')
          }, 500)
        }
      }
    })

    $('.test-link').click(function(){
      $('#dialog').dialog('open')
    })



  });

/ %h1 Listing menus
/ %table
/   %thead
/     %tr
/       %th Serve date
/       %th Breakfast time
/       %th Lunch time
/       %th Dinner time
/       %th Breakfast head count
/       %th Lunch head count
/       %th Dinner head count
/       %th Breakfast recipe ids
/       %th Dinner recipe ids
/       %th Lunch recipe ids
/       %th{:colspan => "3"}
/   %tbody
/     - @menus.each do |menu|
/       %tr
/         %td= menu.serve_date
/         %td= menu.breakfast_time
/         %td= menu.lunch_time
/         %td= menu.dinner_time
/         %td= menu.breakfast_head_count
/         %td= menu.lunch_head_count
/         %td= menu.dinner_head_count
/         %td= menu.breakfast_recipe_ids
/         %td= menu.dinner_recipe_ids
/         %td= menu.lunch_recipe_ids
/         %td= link_to 'Show', menu
/         %td= link_to 'Edit', edit_menu_path(menu)
/         %td= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }
/ %br
/   = link_to 'New Menu', new_menu_path