#ingredients-header-container
#ingredients-main-container
  .row
    .col-lg-12
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Serving size
            %th{:colspan => "3"}
        %tbody
          - @recipes.each do |recipe|
            %tr
              %td=link_to recipe.name, edit_recipe_path(recipe)
              %td= link_to 'Edit', edit_recipe_path(recipe), class: 'btn btn-xs btn-primary'
              %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
      %br
        = link_to '+ New Recipe', new_recipe_path, class: 'btn btn-success'