#menu-header
#menu-body
  #calendar-container
    #calendar
      

:javascript
  $(document).ready(function() {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
          // put your options and callbacks here
      })

  });