form.edit_ingredient, form.new_ingredient {
  width: 460px;
}

#ingredients-header-container {
  margin: 0 auto;
  width: 60%;
}

#ingredients-main-container {
  width: 60%;
  margin: 0 auto;
}

.ingredient-list-name {
  color: #333333;
  font-size: 17px;
}

#ingredient_category.form-control {
  width: 140px;
}
#ingredient_name.form-control {
  width: 220px;
}
#ingredient_unit_of_measurement.form-control {
  width: 60px;
}

@media(max-width: 800px) {
  #ingredients-main-container {
    width: 100%;
  }
}