.calendar-meal-header {
  font-weight: bold;
  font-size: 11px;
}
.calendar-recipe-title {
  font-size: 11px;
}
.fc-row.fc-widget-content:hover {
  cursor:pointer;
}

.menu-show-link {
  font-size: 11px;
  display: block;
}

.add-to-shopping-list-label {
  font-size: 11px;
}
.add-to-print-sheet-label {
  font-size: 11px;
}

.form-control.menu-form-recipe-dropdown {
  width: 100%;
  width: 100%;
  height: 25px;
  padding: 0px;
  margin-top: 5px;
  font-size: 16px;
}

#menu-footer {
  padding-top: 50px;
}

.form-control.menu-form-head-count {
  width: 60px;
  height: 20px;
  font-size: 12px;
  padding: 1px 7px;
  display: inline;
  float: none;
}

#menu-form-container {
  width: 350px;
}

.menu-form-time-container {
  float: left;
  width: 50%;
}

.menu-form-head-count-container {
  float: right;
  text-align: right;
  width: 50%;
}

.menu-form-header {
  margin: 3px 0px;
  font-size: 23px;
  text-decoration: underline;
}

#menu_breakfast_time_4i, #menu_breakfast_time_5i, #menu_lunch_time_4i, #menu_lunch_time_5i, #menu_dinner_time_4i, #menu_dinner_time_5i {
  display: inline;
  font-size: 12px;
  height: 20px;
  width: 48px;
  padding: 0px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

a.menu-form-back {
  color: rgb(161, 73, 0);
  float: left;
  margin-top: 9px;
}

.menu-form-submit {
  float: right;
}