form.edit_recipe, form.new_recipe {
  width: 460px;
}

.form-control.ingredients-dropdown {
  width: 220px;
  float: left;
}

.form-control.rli-quantity {
  width: 80px;
  float: left;
  margin-left: 10px;
}

.rli-form-quantity-container {
  width: 150px;
  float: left;
}

.recipe-list-name {
  color: #333333;
  font-size: 17px;
}

.form-control#recipe_name {
  width: 220px;
}

.rli-form-quantity-container .times-container {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-family: arial;
}

.rli-form-quantity-label {
  float: right;
  margin-right: 123px;
}

.rli-form-unit-of-measurement-container {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.rli-form-delete-ingredient-container {
  float: left;
  margin-top: 8px;
}

.rli-form-add-ingredient-button {
  float: left;
  clear: both;
  margin-top: 5px;
  margin-left: 10px;
}

.rli-form-submit-button {
  margin-top: 20px;
  float: left;
  clear: both;
}

.recipe-back-button {
  float: left;
  clear: both;
}