#shopping-list-header h3,#shopping-list-header h4 {
  text-align: center;
}

ul.shopping-list {
  width: 350px;
}

ul.shopping-list .ing-name {
  float: left;
}

ul.shopping-list .quantity-data {
  float: right;
}

table.shopping-list-ingredients-table {
  width: 800px;
  margin: 0 auto;
}

table.shopping-list-ingredients-table ul {
  list-style-type: none;
}

